*{
	margin:0;
	padding:0;
	font-family:Helvetica,Arial,Sans-serif;
}
body{
	background:#000000;
}
table{
	margin:0 auto;
	width:100%;
}
table,th,td{
	border:1px solid #cfcfd0;
	border-collapse:collapse;
	padding:5px;
}
table th{
	background-color:#ff6200;
}
table th div p{
	color:#ffffff;
}
table tr:nth-child(odd){
	background-color:#f2f2f2;
}
table tr:nth-child(even){
	background-color:#ffffff;
}
.app_title p{
	font-size:30px;
	font-weight:bold;
}
.w_info{
	font-weight:bold;
}
.w_info_img{
	display:block;
	width:50px;
	height:auto;
	margin:0 auto;
}
.center_txt p{
	text-align:center;
}