<div ng-controller="appCtrl">
	<table>
		<tr>
			<th colspan="3">
				<div class="app_title">
					<p>Pogoda</p>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div>
					<p>Miasto</p>
				</div>
			</th>
			<th>
				<div>
					<p>Sprawdź</p>
					<p>(wszystkie:[<input type="checkbox" ng-model="allCheck" ng-change="checkAll()">])</p>
				</div>
				<div>
					<p>Sortuj:
						<select ng-options="opt.name for opt in select.opts track by opt.id" ng-model="select.opt" ng-change="checkSelect()"></select>
					</p>
					<p ng-show="notSelected" ng-click="hideInfo()" class="sort_info">Nie wybrano miasta</p>
				</div>
			</th>
			<th>
				<div>
					<p>Pogoda</p>
				</div>
			</th>
		</tr>
		<tr ng-repeat="city in cities">
			<td>
				<div class="center_txt">
					<p>{{city.name}}</p>
				</div>
			</td>
			<td>
				<div class="center_txt">
					<p>Sprawdź to miasto:[<input type="checkbox" ng-model="city.selected" ng-change="checkCity(city)">]</p>
				</div>
			</td>
			<td>
				<div>
					<p>Temperatura:<span ng-show="city.show" class="w_info">{{city.temp}}</span><span ng-show="!city.show" class="w_info">(sprawdź)</span>ºC</p>
					<hr>
				</div>
				<div>
					<p>Stan:<span ng-show="city.show" class="w_info">{{city.desc}}</span><span ng-show="!city.show" class="w_info">(sprawdź)</span></p>
					<img ng-src="{{city.show?city.ico:'empty.png'}}" class="w_info_img">
					<hr>
				</div>
				<div class="center_txt">
					<p>Odśwież co:<input type="number" min="1" max="60" ng-model="city.refresh_time" ng-disabled="!city.show" ng-blur="setDefVal(city.refresh_time)">sekund[<input type="checkbox" ng-disabled="!city.show" ng-model ="city.refresh" ng-change="refWeather(city)">]</p>
				</div>
			</td>
		</tr>
	</table>
</div>